<div class="q_all">
	<h2><%= link_to user_path(@user.id) do %><%= @user.name %><% end %>さんが投稿したQ一覧</h2>
	<% if @user.questions.blank? %>
	<h3>まだ投稿がありません</h3>
	<% else %>
	<ol style="list-style: none;">
		<% @user.questions.order(created_at: "DESC").each do |q| %>
		<li class="question_image q_body">
			<%= link_to question_path(q.token) do %>
			<%= image_tag q.question_image, size: "425x220" %>
			<% end %>
		</li>
		<% end %>
	</ol>
	<% end %>
</div>
