// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_link{
	background-color: #99CCFF;
	width: 850px;
	margin: 0 auto;
}

.question_day {
	float: left;
}

.answers_count {
	float: left;
}

.answer_body {
	font-size: 30px;
	background-color: gray;
	border-radius: 5px;
	height: 100px;
	width: 850px;
	margin: 10px auto;
}

.q_url {
	width: 850px;
	height: 20px;
}