// Place all the styles related to the questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user_link{
	background-color: #99CCFF;
	width: 850px;
	margin: 0 auto;
}

.question_data {
	width: 850px;
	height: 100px;
	margin: 0 auto;
}

.question_day ,.answers_count {
	float: left;
	font-size: 30px;
	height: 100px;
	width: 425px;
}

.answer_body {
	font-size: 30px;
	text-align: left;
	background-color: #FFFAFA;
	box-shadow:0px 0px 5px;
	border-radius: 5px;
	height: 100px;
	width: 850px;
	margin: 10px auto;
}

.q_url {
	width: 850px;
	height: 20px;
}