// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.profile-introduction{
	background-color: #99CCFF;
	padding-top: 10px;
}

.user_data {
	background-color: #FFFAFA;
	box-shadow:0px 0px 5px;
}

.img {
	margin-top: 10px;
    border-radius: 50%;
    width:  180px;
    height: 180px;
}

.user_profile {
	font-size: 20px;
	margin: 50px 80px;
	padding: 10px;
}

.q_form {
	background-color: #CCFFCC;
	margin: 50px 80px;
	padding: 10px;
	box-shadow:0px 0px 5px;
}

.target_form {
	padding-bottom: 10px;
}

.q_list {
	margin: 0 auto;
	padding: 10px;
	border-radius: 100px;
}

.q_image {
	margin-bottom: 5px;
	box-shadow:0px 0px 5px;
}

.edit_form {
	font-size: 20px;
	padding: 50px 100px;
	margin: 100px;
	background-color: #FFFAFA;
	box-shadow:0px 0px 5px;
}